.team-section {
    background-color: #E5E5E5;
    padding-top: 40px;
}

.team-title {
    font-size: 2vw;
    margin: 0;
    text-align: center;
    color: #222c55;
    font-weight: 800;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 15px 0;
    overflow: hidden;
}

.carousel-track {
    display: flex;
}

.carousel-dots-colaboradores {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 2vh 0px;
}

.dot.active-colaboradores {
    background-color: #222c55;
}

.team-card {
    flex: 0 0 calc(100% / 3);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.7s ease-in-out;
}

.image-container-car {
    position: relative;
    /* clave para que el overlay se posicione respecto a este contenedor */
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    /* centrar la imagen */
    aspect-ratio: 1 / 1;
}

.image-container-car .team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    display: block;
}

.overlay-teamsection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 44, 85, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.image-container:hover .overlay-teamsection {
    opacity: 1;
}

.rating {
    font-size: 1.9vw;
    margin-bottom: 5px;
}

.description {
    font-size: 0.9vw;
    text-align: center;
    max-width: 80%;
}

.team-name {
    font-size: 1.2vw;
    font-weight: bold;
    color: #4d5061;
    margin: 0;
    margin-top: 20px;
}

.team-cargo {
    padding-top: 1vw;
    font-size: 1.1vw;
    font-weight: bold;
    color: #222c55;
    margin: 5px 0 0 0;
}

.dot {
    width: 12px;
    height: 12px;
    border: 2px solid #222c55;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #222c55;
}

@media (max-width: 768px) {
    .team-card {
        flex: 0 0 100%;
    }
}