@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.bg-home {
    margin-top: 0px; /* Ajusta según la altura de tu navbar */
    padding: 20px;
    background-image: url("../assets/wallpapers/green.jfif"); /* O "../assets/background.jpg" si está en src */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 100px;
}

.Titles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-box {
    position: static; /* O prueba con fixed */
    top: 0px; /* Baja el cuadro */
    left: 2%; /* Lo mueve a la derecha */
    transform: none; /* Elimina transform si causa problemas */
    gap: 40px; /* Espacio entre la imagen y el texto */
    align-items: center;
    background-color: rgba(155, 163, 173, 0.5); /* Color gris oscuro con 50% de transparencia */
    border-radius: 12px; /* Bordes redondeados */
    padding: 16px; /* Espaciado interno */
    color: rgb(33, 30, 30); /* Texto en blanco */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transform: translate(0px, 20px); /* Mueve el cuadro */
    max-width: 220vh; /* Ancho máximo */
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Imagen y textos en columnas */
    gap: 50px;
    align-items: center;
    padding-bottom: 10vh;
}

.image-div{
    width: 50ch; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px; /* Bordes redondeados opcional */
    transform: translate(0vh, 4vh);
}

.text-content {
    display: flex;
    flex-direction: column; /* Apila los <p> verticalmente */
}
    
.subtitles {
        text-align: left;
        color: #424631;
        padding: 4rem 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vb;
    }

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 9px 26px;
    border-radius: 7px;
    border: 2px solid #5d6244;
    background: #5d6244;
    color: white;
}
