.section-title {
  margin-top: 0px; /* Ajusta según la altura de la sección */
  padding-top: 30px ;
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  color: white;
  background-color: rgba(5, 22, 92, 0.903); /* Azul marino oscuro */
  margin-bottom: 0px;
}

.section-space {
  margin-top: 0px; /* Ajusta según la altura de la sección */
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(5, 22, 92, 0.903);
  background-color: rgba(5, 22, 92, 0.903); /* Azul marino oscuro */
  margin-bottom: 0px;
}

.stat-icon {
  /* transform: translate(-8vh, 0.5vh); */
  font-size: 2.5rem;
  color: white;
  /* margin-bottom: 10px; */


}

.full-section {
    width: 100%;  /* Ocupa todo el ancho de la pantalla */
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    display: flex; /* Centra el contenido */
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: rgba(5, 22, 92, 0.903); /* Azul marino oscuro */
    color: white; /* Color del texto */
    text-align: center;
  }

  .Titles {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor centrado con flexbox */
.stats-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background-color: #222c55; /* Azul marino oscuro */
}

/* Tarjetas de estadísticas */
.stat-card {
  border-radius: 12px;
  padding: 10vh;
  width: 280px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease-in-out;
}

.stat-card:hover {
  transform: scale(1.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos de números y etiquetas */
.stat-number {
  font-size: 3.5rem;
  font-weight: bold;
  color: white; 
  margin:0px;/* Celeste neón */
}

.stat-label {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #ccd6f6; /* Gris claro */
}