.stat-icon {
  font-size: 2.5rem;
  color: white;
}

.stats-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background-color: #222c55; /* Azul marino oscuro */
}

/* Tarjetas de estadísticas */
.stat-card {
  border-radius: 12px;
  padding: 10vh;
  width: 280px;
  text-align: center;
}

.stat-card:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos de números y etiquetas */
.stat-number {
  font-size: 3.5rem;
  font-weight: bold;
  color: white; 
  margin:0px;
}

.stat-label {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #ccd6f6;
}