.slider-container {
    margin-top: 65px; /* Ajusta según la altura de tu navbar */
    padding: 20px;
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 34, 52);
    overflow: hidden;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.slider-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.prev {
    left: 30px;
}

.next {
    right: 60px;
}

.slider-image {
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}